<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <appSettings>
    <add key="admin" value="Key1234+" />
  </appSettings>
</configuration>
